<!DOCTYPE html>
<html>
    <head>
        <title>
            Timestamp Service
        </title>
    </head>
    <body>
        <h1> Hi! This is my timestamp microservice mini-project.</h1>
        <h2> To get you started, click these: </h2>
        <ul>
            <li>
                <a href = "http://localhost:3000/123397200">http://localhost:3000/123397200</a>
            </li>
            <li>
                <a href = "http://localhost:3000/November 29 1973">http://localhost:3000/November 29 1973</a>
            </li>
        </ul>
    </body>
</html>